body {
    background-color: rgb(255, 255, 255);
}

.movie_card {
    margin: 8pt;
    padding: 3pt 3pt 0pt 3pt !important;
    background-color: white;
    box-shadow: 1pt 1pt 10pt #CCCCCC;
    max-width: 170pt;
    min-width: 135pt;
}

.movie_card:hover {
    box-shadow: 3pt 1pt 5pt #8F8E8E;
}

.movie_card p,
.movie_card h4 {
    padding: 5pt;
}

.movie_card img {
    width: 100%;
}

.modal-body img {
    width: 40%;
}

.content {
    margin-top: 50pt;
}

.navbar {
    background-color: white;
    box-shadow: 1pt 1pt 10pt #CCCCCC;
}

.nav-item {
    margin-left: 8pt;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: grey;
}

.about {
    margin-top: 60pt;
}

/* Django specific */

.movie_card a {
    color: black;
}

.movie_card a:hover {
    color: black;
}