{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cinema/style.css' %}" /> {% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>
{% endif %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script>
    var getScreening = function () {
        var e = document.getElementById("detail-screening-sel");
        var selected_screening_id = e.options[e.selectedIndex].value;
        window.location.href = "/cinema/screening/" + selected_screening_id;
    };
</script>

<div class="container">
    <img id="detail-img" src="{% static 'cinema/images/avengers.jpg' %}"></img>
    <div class="detail-content">
        <h2 id="detail-movie-title">{{movie.name}}</h2>
        <p id="detail-movie-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        <div class="form-group">
            <label for="detail-screening-sel">Select Screening:</label>
            <select class="form-control" id="detail-screening-sel">
                {% for s in screenings %}
                <option value="{{s.id}}">{{s.screening_time}}</option>
                {% endfor %}
            </select>
            <button onclick="getScreening()" class="btn btn-primary">Reserve Seats</button>
        </div>
    </div>
</div>